/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.property-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.property-card {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 1rem; 
  align-items: stretch;
}

.property-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.property-button {
  align-self: flex-end;
  margin-left: 50px;
  height: 40px;
  width: 100px;
}

.property-image {
  width: 30%; /* Adjust this value based on your design */
  padding: 1rem;
  height: 150px;
  overflow:  hidden;
}

.property-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.property-details {
  flex: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
  align-items: flex-start;
}

/* @media (max-width: 600px) {
  .property-card {
    flex-direction: column;
  }

  .property-image img {
    width: 100%;
  }

  .property-info {
    margin-top: 1rem;
  }
} */

@media (max-width: 576px) {
  .property-card {
    display: flex;
    flex-direction: column;
  }

  .property-image {
    width: 100%;
    height: auto;
    object-fit: contain;
    margin-bottom: 1rem;
  }

  .property-details {
    margin-left: 0;
  }
}

@media (min-width: 768px) {
  .property-image {
    width: 70%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
  }
}

